# Database configuration for PostgreSQL
PGHOST=
PGPORT=
PGDATABASE=
PGUSER=
PGPASSWORD=

# Secret key for JWT authentication
SECRET_KEY=your_secret_key_here
ALGORITHM=HS256
# Token expiration time in minutes
ACCESS_TOKEN_EXPIRE_MINUTES=30
